<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!--<link rel="stylesheet" href="style.css">-->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    </meta>
    <title>FriendFace</title>

    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
</meta>
<body style="background-image: linear-gradient(rgba(162, 120, 120, 0.4), rgba(62, 20, 120, 0.4));
          font-family: Lato;
          height: 100vh;
          margin: 300;
          padding: 0;
          box-sizing: border-box;
          font-family: Lato;
          font-size: 18px;
          text-align: center;
          /*text-transform: uppercase;*/
          letter-spacing: 4px;
          font-weight: 100;
          margin-top: 40px;
          margin-bottom: 10px;
          /*position: relative;*/
          color: #555;">

<div class="txt" style="background-image: linear-gradient(rgba(240, 230, 230, 0.4), rgba(223, 216, 216, 0.4));
width:1300px; height: 50px; float:left; margin: 20px; padding: 10px; border-width: 1px; border-style:solid;text-align: left;">FriendFace
</div>
    </div>

    <div style="width:1300px;">
        <div class="txt" style="background-image: linear-gradient(rgba(240, 230, 230, 0.4), rgba(223, 216, 216, 0.4));
        width:300px; height: 300px; float:left; margin: 20px; padding: 10px; border-width: 1px; border-style:solid;">Profile Picture
        </div>
        <div class="txt" style="background-image: linear-gradient(rgba(240, 230, 230, 0.4), rgba(223, 216, 216, 0.4));
        width:300px; height: 200px; float:right; margin: 20px; padding: 10px; border-width: 1px; border-style:solid;">Friend Requests
        </div>
        <div class="txt" style="background-image: linear-gradient(rgba(240, 230, 230, 0.4), rgba(223, 216, 216, 0.4));
        width:500px; height: 500px; float:right; margin: 20px; padding: 10px; border-width: 1px; border-style:solid;">Wall
        </div>



    </div>


    <!--     <div style="width:800px;">
        <div class="txt" style="background-image: linear-gradient(rgba(162, 120, 120, 0.4), rgba(136, 117, 163, 0.4));
        
        width:300px; float:left;">
            <form th:action="@{/}" method="POST">
                <span>First name:</span>

                <input type="text" name="firstName" />
                <br><br>

                <span>Last name:</span>
                <input type="text" name="lastName" />
                <br>
                <br>
                <span>E-mail address:</span>
                <input type="text" name="email" />
                <br><br>
                <span>Phone number:</span>
                <input type="text" name="phone" />
                <br><br>

                <input type="submit" value="Confirm and send" />
            </form>

            <div class="txt" style="background-image: linear-gradient(rgba(162, 120, 120, 0.4), rgba(136, 117, 163, 0.4));
            width:300px; float:left;
            ">
                <form th:action="@{/}" method="POST">
                    <span>First name:</span>

                    <input type="text" name="firstName" />
                    <br><br>

                    <span>Last name:</span>
                    <input type="text" name="lastName" />
                    <br>
                    <br>
                    <span>E-mail address:</span>
                    <input type="text" name="email" />
                    <br><br>
                    <span>Phone number:</span>
                    <input type="text" name="phone" />
                    <br><br>

                    <input type="submit" value="Confirm and send" />
                </form>

            </div>
            <div class="txt" style="background-image: linear-gradient(rgba(162, 120, 120, 0.4), rgba(136, 117, 163, 0.4));
            width:300px; float:right;
            ">
                <form th:action="@{/}" method="POST">
                    <span>First name:</span>

                    <input type="text" name="firstName" />
                    <br><br>

                    <span>Last name:</span>
                    <input type="text" name="lastName" />
                    <br>
                    <br>
                    <span>E-mail address:</span>
                    <input type="text" name="email" />
                    <br><br>
                    <span>Phone number:</span>
                    <input type="text" name="phone" />
                    <br><br>

                    <input type="submit" value="Confirm and send" />
                </form>

            </div>





            <div class="top">
                <div class="budget">
                    <div class="budget__title">
                        Available Budget in <span class="budget__title--month">%Month%</span>:
                    </div>

                    <div class="budget__value">2,345.64</div>

                    <div class="budget__income clearfix">
                        <div class="budget__income--text">Income</div>
                        <div class="right">
                            <div class="budget__income--value">+ 4,300.00</div>
                            <div class="budget__income--percentage">&nbsp;</div>
                        </div>
                    </div>

                    <div class="budget__expenses clearfix">
                        <div class="budget__expenses--text">Expenses</div>
                        <div class="right clearfix">
                            <div class="budget__expenses--value">- 1,954.36</div>
                            <div class="budget__expenses--percentage">45%</div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="bottom">
                <div class="add">
                    <div class="add__container">
                        <select class="add__type">
                            <option value="inc" selected>+</option>
                            <option value="exp">-</option>
                        </select>
                        <input type="text" class="add__description" placeholder="Add description">
                        <input type="number" class="add__value" placeholder="Value">
                        <button class="add__btn"><i class="ion-ios-checkmark-outline"></i></button>
                    </div>
                </div>

                <div class="container clearfix">
                    <div class="income">
                        <h2 class="icome__title">Income</h2>

                        <div class="income__list">

                        </div>
                    </div>



                    <div class="expenses">
                        <h2 class="expenses__title">Expenses</h2>

                        <div class="expenses__list">

                        </div>
                    </div>
                </div>
            </div>
 -->
    </div>

</body>

</html>