


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Wexford Used Cars Application</title> 
    </head>

    <body>
        <h1>Car Database</h1>

        <table>
            <tr>
                <th>Car</th>
            </tr>

            <tr th:each="car : ${cars}">
                <td th:text="${car.model}">Car model</td>
            </tr>
        </table>

        <!--        <h2>Add a car</h2>
        
                <form th:action="@{/}" method="POST">
                    <span>Name:</span>
                    <input type="text" name="name"/>
                    <input type="submit" value="Add!"/>
                </form>-->
    </body>
</html>